.main-content {
    clear: both;
    background-color: #cfe3e4;
}

.inner-main-content {
    /*width: 930px;*/
    /*margin: auto;*/
    clear: both;
    background-color: #f2f5fa;
}

.table-area {
    padding-top: 10px;
    width: 100%;
    clear: both;
}

.table-area-content {
    width: 960px;
    height: 200px;
    _height: 180px;
    /*margin-left: 55px;*/
    /*_margin-left: 47px;*/
    /*overflow: auto;*/
    overflow-x: hidden;
}

table.main-table {
    width: 890px;
    border: 1px #a7f1fd;
    border-collapse: collapse;
    margin-left: 48px;
}

table.main-table-head {
    border: 1px #a7f1fd;
    border-collapse: collapse;
    width: 890px;
    height: 40px;
    margin-left: 48px;
}

table.main-table-head th {
    padding: 2px;
    border: 1px solid #d0d2d1;
    background-color: #edebec;
    color: #04555d;
    /*font-family: SourceHanSansCN-Bold, serif;*/
    font-size: 16px;
    font-weight: bold;

    width: 70px;
}

table.main-table td {
    padding: 2px;
    border: 1px solid #d0d2d1;
    color: #04555d;
    /*font-family: SourceHanSansCN-Bold, serif;*/
    font-size: 16px;
    /*height: 30px;*/

    width: 70px;
}

.main-table tbody tr:nth-child(even) td {
    background-color: #ffffff;
}

.main-table tbody tr:nth-child(odd) td {
    background-color: #f9ffff;
}

.common-problem {
    background: url(http://localhost:80/DCStation/image/common-problem.png) no-repeat center;
}

.serious-problem {
    background: url(http://localhost:80/DCStation/image/serious-problem.png) no-repeat center;
}

.disaster-problem {
    background: url(http://localhost:80/DCStation/image/disaster-problem.png) no-repeat center;
}

.disable-problem {
    background: url(http://localhost:80/DCStation/image/nextdisabled.png) no-repeat center;
}

.button-area {
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
}

.button-area input {
    background: transparent url(http://localhost:80/DCStation/image/circlerectangle.png);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 80px;
    height: 26px;
    margin: 0 auto;
}

.left-area {
    margin-right: 5px;
    float: left;
    border: 1px solid #d0d2d1
}

.right-area {
    margin-left: 5px;
    float: right;
    border: 1px solid #d0d2d1
}

.detail-info {
    margin-top: 5px;
    width: 438px;
    height: 200px;
    _height: 220px;
    /*background-color: #f3fbfd;*/
}

.detail-content {
    color: #343434;
    font-size: 14px;
    /*font-family: SourceHanSansCN-Normal, serif;*/
    padding: 40px 10px;
    _padding: 20px 10px;
    height: 140px;
    _height: 160px;
    overflow: auto;
}

.info-area {
    width: 890px;
    margin: 0 auto;
}

.head-info-sm {
    /*background-color: #06bfc7;*/
    background: url(http://localhost:80/DCStation/image/head-info-sm.png) center;
    font-size: 16px;
    /*font-family: SourceHanSansCN-Bold, serif;*/
    color: #ffffff;
    margin: 0 auto;
}

.head-info-sm p {
    font-size: 14px;
    color: #333333;
    height: 30px;
    line-height: 30px;
    margin: 0 20px;
}

.head-info-lg {
    font-size: 24px;
    /*font-family: SourceHanSansCN-Normal, serif;*/
    color: #343434;
}

.head-info-lg p {
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.head-top {
    color: #FFFFFF;
    height: 40px;
    width: 70%;
    margin: auto;
    background: url(http://localhost:80/DCStation/image/titleTJJK_doc.png) no-repeat center;
}

.left-head {
    float: left;
    width: 200px;
    height: 30px;
    padding-top: 10px;
    margin-left: 100px;
    background: url(http://localhost:80/DCStation/image/tj.png) no-repeat center;
}

.right-head {
    float: left;
    width: 220px;
    height: 30px;
    padding-top: 10px;
    margin-left: 40px;
}

#error_detail th {
    font-size: 18px;
    /*font-family: SourceHanSansCN-Bold, serif;*/
    font-weight: bold;
    color: #333333;
    _margin-top: 30px;
}

#error_detail td {
    font-size: 16px;
    /*font-family: SourceHanSansCN-Normal, serif;*/
    color: #666666;
}

.container {
    width: 450px;
    border: 1px solid #6C9C2C;
    height: 25px;
}

#bar {
    background: #06bfc7;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 150%;
}

#bg {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}

#show {
    display: none;
    position: absolute;
    top: 25%;
    left: 22%;
    width: 53%;
    height: 49%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}



