.main-content {
    clear: both;
    background-color: #cfe3e4;
}

.inner-main-content {
    /*width: 930px;*/
    /*margin: auto;*/
    clear: both;
    background-color: #f3f7ff;
}

.table-area {
    width: 100%;
    clear: both;
    padding-top: 10px;
}

.table-area-content {
    width: 907px;
    height: 140px;
    _height: 120px;
    margin-left: 55px;
    _margin-left: 47px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.main-table {
    width: 890px;
    border: 1px #d0d2d1;
    border-collapse: collapse;
}

table.main-table-head {
    background-color: #edebec;
    border: 1px #d0d2d1;
    border-collapse: collapse;
    width: 890px;
    height: 40px;
    margin: 0 auto;
}

table.main-table-head th {
    padding: 8px;
    border: 1px solid #d0d2d1;
    height: 40px;
    color: #015587;
    /*font-family: SourceHanSansCN-Bold, serif;*/
    font-size: 16px;

    width: 75px;
    _width: 75px;
}

table.main-table td {
    padding: 8px;
    border: 1px solid #d0d2d1;
    height: 40px;
    color: #015587;
    /*font-family: SourceHanSansCN-Bold, serif;*/
    font-size: 16px;

    width: 75px;
    _width: 75px;
}

.main-table tbody tr:nth-child(even) td {
    background-color: #ffffff;
}

.main-table tbody tr:nth-child(odd) td {
    background-color: #f3fafd;
}

.common-problem {
    background: url(http://localhost:80/DCStation/image/common-problem.png) no-repeat center;
}

.serious-problem {
    background: url(http://localhost:80/DCStation/image/serious-problem.png) no-repeat center;
}

.disaster-problem {
    background: url(http://localhost:80/DCStation/image/disaster-problem.png) no-repeat center;
}

.disable-problem {
    background: url(http://localhost:80/DCStation/image/nextdisabled.png) no-repeat center;
}

.button-area {
    padding: 10px 10px;
    text-align: center;
}

.button-area input {
    background: transparent url(http://localhost:80/DCStation/image/circlerectangle_pha_out_long.png);
    border: 0.1px solid #73a5bd;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 80px;
    height: 26px;
    margin-top: 10px;
}

.button-area .short {
    background: transparent url(http://localhost:80/DCStation/image/circlerectangle_pha_out_short.png);
    border: 0.1px solid #73a5bd;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 50px;
    height: 26px;
}

.left-area {
    float: left;
    border: 1px solid #d0d2d1
}

.right-area {
    float: right;
    border: 1px solid #d0d2d1
}

.detail-info {
    margin-top: 5px;
    width: 410px;
    height: 170px;
    _height: 190px;
    /*background-color: #f3fbfd;*/
}

.detail-content-left {
    color: #343434;
    font-size: 16px;
    /*font-family: SourceHanSansCN-Normal, serif;*/
    padding: 40px 10px;
    _padding: 20px 10px;
    height: 120px;
    _height: 140px;
    overflow: auto;
}

.detail-content-right {
    color: #343434;
    font-size: 16px;
    /*font-family: SourceHanSansCN-Normal, serif;*/
    padding: 40px 10px;
    _padding: 20px 10px;
    height: 80px;
    _height: 70px;
    overflow: auto;
}

.down-detail-info {
    margin-top: 10px;
    width: 439px;
    height: 130px;
    _height: 150px;
    /*background-color: #f3fbfd;*/
}

.down-detail-content {
    color: #333333;
    font-size: 14px;
    /*font-family: SourceHanSansCN-Normal, serif;*/
    padding: 40px 10px;
    _padding: 20px 10px;
    /*height: 20px;*/
    _height: 30px;
    overflow: auto;
}

.info-area {
    width: 890px;
    margin: 0 auto;
    font-size: 16px;
}

.pharInfo-button {
    width: 200px;
    margin-left: 90px;
    display: inline;
}

.head-info-sm {
    /*background-color: #06bfc7;*/
    background: url(http://localhost:80/DCStation/image/head-info-sm.png) center;
    font-size: 16px;
    /*font-family: SourceHanSansCN-Bold, serif;*/
    color: #ffffff;
    margin: 0 auto;
}

.head-info-sm p {
    font-size: 14px;
    color: #333333;
    height: 30px;
    line-height: 30px;
    margin: 0 20px;
}

.head-info-lg {
    font-size: 24px;
    /*font-family: SourceHanSansCN-Normal, serif;*/
    color: #343434;
}

.head-info-lg p {
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.head-top {
    color: #FFFFFF;
    height: 40px;
    width: 70%;
    margin: auto;
    background: url(http://localhost:80/DCStation/image/titleTJJK_pha_out.png) no-repeat center;
}

.left-head {
    float: left;
    width: 200px;
    height: 30px;
    padding-top: 10px;
    margin-left: 100px;
    background: url(http://localhost:80/DCStation/image/tj.png) no-repeat center;
}

.right-head {
    float: left;
    width: 220px;
    height: 30px;
    padding-top: 10px;
    margin-left: 40px;
}
.mid-head {
    height: 30px;
    padding-top: 10px;
    text-align: center;
}

table .problemTypeTable {
    border: 1px #d0d2d1;
    overflow-x: auto;
    overflow-y: auto;
    height: 400px;
    width: 415px;
}

.problemDescribe {
    border:1px solid #d0d1d2;
}

#error_detail th {
    font-size: 16px;
    /*font-family: SourceHanSansCN-Bold, serif;*/
    font-weight: bold;
    color: #333333;
    _margin-top: 30px;
}

#error_detail td {
    font-size: 16px;
    /*font-family: SourceHanSansCN-Normal, serif;*/
    color: #666666;
}

.container {
    width: 450px;
    border: 1px solid #6C9C2C;
    height: 25px;
}

#bar {
    background: #06bfc7;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 150%;
}

#bg {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}

#show {
    display: none;
    position: absolute;
    top: 25%;
    left: 22%;
    width: 53%;
    height: 49%;
    padding: 8px;
    border: 8px solid #E8E9F7;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

